<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    
    <main>
        <form method="get">
            <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
                <h1>Hi, Welcome To the Era of Technology.</h1>
            </div>
            <div style="display: flex; justify-content: flex-end; align-items: center; gap: 10px;">
                <button type="submit" formaction="/login" style="padding: 10px; margin: 20px;">Login</button>
                <button type="submit" formaction="/register" style="padding: 10px; margin: 20px;">Register</button>
            </div>
        </form>
    </main>
</body>
</html>